<footer>
    <h3>¿Querés saber como funciona nuestra págia?</h3>
    <p>¡Acá te contamos!</p>
    <h3>¿Tuviste algún problema comprando?</h3>
    <p>Hace click acá para comunicarte con servicio al cliente</p>
    <h3>Encontranos también en nuestras redes sociales</h3>
    <p class="redesSociales"><i class="fab fa-whatsapp"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i></p>
</footer>

</body>

</html>