<header>
    <p class="barrasMenu"><i class="fas fa-bars"></i></p>  
        <img class="logo" src="images/logoConTitulo.png" height="45px">                        
    <form class="barraDeBusqueda"><input class="textoBarra" placeholder="Buscá productos, marcas..."><button><i class="fas fa-search"></i></button></i></form>
    <a href="/login"><p class="botonIngresar">Ingresar</p></a>
</header>