<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <p class="barrasMenu"><i class="fas fa-bars"></i></p>  
            <img class="logo" src="images/logoConTitulo.png" height="45px">                        
        <form class="barraDeBusqueda"><input class="textoBarra" placeholder="Buscá productos, marcas..."><button><i class="fas fa-search"></i></button></i></form>
        <p class="botonIngresar">Ingresar</p>
    </header>
    <main>
        <div id="carrusel-contenido">
            <div id="carrusel-caja">
                <div class="carrusel-elemento">
                    <img class="imagenes" src="images/carrusel1.png" >
                </div>
                <div class="carrusel-elemento">   
                    <img class="imagenes" src="images/carrusel2.png">
                </div>
                <div class="carrusel-elemento">   
                    <img class="imagenes" src="images/carrusel3.png">                        
                </div>
            </div>
        </div>
        <h2 class="tituloSeccion">Prestá atención a nuestra promociones de este mes!</h2>
        <section class="promociones">
            <div class="articulo">
                <p class="usuario">usuario</p>
                <p class="imagenArticulo"><img src="/images/prenda1.png" alt="prenda1"></p>
                <p class="descripcion">Descripción!</p>
                <p class="precio">$10.000</p>
                
            </div>

            <div class="articulo">
                <p class="usuario">usuario</p>
                <p class="imagenArticulo"><img src="/images/prenda2.png" alt="prenda2"></p>
                <p class="descripcion">Descripción!</p>
                <p class="precio">$10.000</p>                
            </div>

            <div class="articulo">
                <p class="usuario">usuario</p>
                <p class="imagenArticulo"><img src="/images/prenda3.png" alt="prenda3"></p>
                <p class="descripcion">Descripción!</p>
                <p class="precio">$10.000</p>                
            </div>

            <div class="articulo">
                <p class="usuario">usuario</p>
                <p class="imagenArticulo"><img src="/images/prenda4.png" alt="prenda4"></p>
                <p class="descripcion">Descripción!</p>
                <p class="precio">$10.000</p>                
            </div>
            
            <div class="articulo">
                <p class="usuario">usuario</p>
                <p class="imagenArticulo"><img src="/images/prenda5.png" alt="prenda5"></p>
                <p class="descripcion">Descripción!</p>
                <p class="precio">$10.000</p>                
            </div>

            <div class="articulo">
                <p class="usuario">usuario</p>
                <p class="imagenArticulo"><img src="/images/prenda6.png" alt="prenda6"></p>
                <p class="descripcion">Descripción!</p>
                <p class="precio">$10.000</p>                
            </div>
            
        </section>
    </main>

    <footer>
        <h3>¿Querés saber como funciona nuestra págia?</h3>
        <p>¡Acá te contamos!</p>
        <h3>¿Tuviste algún problema comprando?</h3>
        <p>Hace click acá para comunicarte con servicio al cliente</p>
        <h3>Encontranos también en nuestras redes sociales</h3>
        <p class="redesSociales"><i class="fab fa-whatsapp"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i></p>
    </footer>

</body>

</html>