<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <p class="barrasMenu"><i class="fas fa-bars"></i></p>
        <p>Logo</p>
        <p class="barraDeBusqueda">Buscar...<i class="fas fa-search"></i></p>
        <p class="botonIngresar">Ingresar</p>
    </header>
    <main>
        <img class="carrusel" src="/images/carrusel.png" alt="carrusel">
        <section class="promociones">
            <div class="articulo">
                <p><img src="/images/prenda1.png" alt="prenda1"></p>
                <p>descuento</p>
                <p>precio</p>
                <p>usuario</p>
            </div>

            <div class="articulo">
                <p><img src="/images/prenda2.png" alt="prenda2"></p>
                <p>descuento</p>
                <p>precio</p>
                <p>usuario</p>
            </div>

            <div class="articulo">
                <p><img src="/images/prenda3.png" alt="prenda3"></p>
                <p>descuento</p>
                <p>precio</p>
                <p>usuario</p>
            </div>

            <div class="articulo">
                <p><img src="/images/prenda4.png" alt="prenda4"></p>
                <p>descuento</p>
                <p>precio</p>
                <p>usuario</p>
            </div>
            
            <div class="articulo">
                <p><img src="/images/prenda5.png" alt="prenda5"></p>
                <p>descuento</p>
                <p>precio</p>
                <p>usuario</p>
            </div>

            <div class="articulo">
                <p><img src="/images/prenda6.png" alt="prenda6"></p>
                <p>descuento</p>
                <p>precio</p>
                <p>usuario</p>
            </div>
            
        </section>
    </main>

    <footer>
        <h3>¿Querés saber como funciona nuestra págia?</h3>
        <p>¡Acá te contamos!</p>
        <h3>¿Tuviste algún problema comprando?</h3>
        <p>Hace click acá para comunicarte con servicio al cliente</p>
        <h3>Encontranos también en nuestras redes sociales</h3>
        <p class="redesSociales"><i class="fab fa-whatsapp"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i></p>
    </footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</body>

</html>