<%- include("./partials/head", {pageTitle: "Detalle Producto", stylesheet: "productDetail.css"}) %>

    <%- include("./partials/header") %>

    <main>

        <div class="contenedor-general">
            <div class="fotosPequeñas" style >
                <img class="camisa2" src="/images/camisa2.png" alt="fotoPrenda1">
                <img class="camisa3" src="/images/camisa3.png" alt="fotoPrenda2">
                <img class="camisa4" src="/images/camisa4.png" alt="fotoPrenda3">
                </div>
            <div class="foto-producto">

                <img class="imagen" src="images/camisa.jpg" >

            </div> 

            <div class="contenedor-descripcion">

                <h2 class="titulo-producto">Camisa de algodon</h2>
                <p class="precio">$35000</p>
                <p class="talle">XL</p>
                <p class="descripcion">Camisa de Algodón - Marca Wanama
                    Color Celeste. Talle 44. Super fresca 
                    Medidas sisa 86 cm cintura 66cm cadera 94 cm
                    ¡Muy poco uso!</p>
                

                <div class="caja-boton">
                    <button type="submit">Agregar al carrito</button>
                </div>
                <div class="contenedorEnviosPagos">
                    <div class="envios">
                    <p> 
                        Envíos a todo el país
                    </p>
                    <img src="/images/envios.png" alt="fotoEnvios" style= width:300px height:100px>
                    </div>
                    
                    <div class="pagos">  
                    <p>
                        Formas de Pago
                    </p>
                    <img  src="/images/pagos.png" alt="fotoPagos" style= width:300px height:100px>
                    </div>
                </div>
        
                </div>

                
            </div>

        </div>
    </main>

    <%- include("./partials/footer") %>


