<%- include("./partials/head", {pageTitle: "Detalle Producto", stylesheet: "productDetail.css"}) %>

    <%- include("./partials/header") %>
    <script src="/js/productDetailJava.js" defer></script>

    <main>


<body>
  <div>
    <h1>Producto</h1>
  </div>
  <div class="container">
    <ul class="thumb">
      <!-- Thumbnail 1 -->
      <li>
        <a href="https://res.cloudinary.com/d3d3g0/image/upload/v1536708886/Labs/Feathers.jpg" target="imgBox">
          <picture>
            <img src="https://res.cloudinary.com/d3d3g0/image/upload/v1536708886/Labs/Feathers.jpg" alt="Feathers" height="64" width="96">
          </picture>
        </a>
      </li>
      
      <!-- Thumbnail 2 -->
      <li>
        <a href="https://res.cloudinary.com/d3d3g0/image/upload/v1536708889/Labs/Eye.jpg" target="imgBox">
          <picture>
            <img src="https://res.cloudinary.com/d3d3g0/image/upload/v1536708889/Labs/Eye.jpg" alt="Eye" height="64" width="96">
          </picture>
        </a>
      </li>
      
      <!-- Thumbnail 3 -->
      <li>
        <a href="https://res.cloudinary.com/d3d3g0/image/upload/v1536708888/Labs/Flowers.jpg" target="imgBox">
          <picture>
            <img src="https://res.cloudinary.com/d3d3g0/image/upload/v1536708888/Labs/Flowers.jpg" alt="Flowers" height="64" width="96">
          </picture>
        </a>
      </li>
    </ul>
    
    <!-- Image Box
         By default the box always shows the first image -->
    <div class="imgBox">
      <picture>
        <img src="https://res.cloudinary.com/d3d3g0/image/upload/v1536708886/Labs/Feathers.jpg" alt="Product image">
      </picture>
    </div>
  </div>

            <div class="contenedor-descripcion">

                <h2 class="titulo-producto">Camisa de algodon</h2>
                <p class="precio">$35000</p>
                <p class="talle">XL</p>
                <p class="descripcion">Camisa de Algodón - Marca Wanama
                    Color Celeste. Talle 44. Super fresca 
                    Medidas sisa 86 cm cintura 66cm cadera 94 cm
                    ¡Muy poco uso!</p>
                

                <div class="caja-boton">
                    <button type="submit">Agregar al carrito</button>
                </div>
        
                <div class="contenedorEnviosPagos">
                    <div class="envios">
                    <p> 
                        Envíos a todo el país
                    </p>
                    <img src="/images/envios.png" alt="fotoEnvios" style= width:300px height:100px>
                    </div>
                    
                    <div class="pagos">  
                    <p>
                        Formas de Pago
                    </p>
                    <img  src="/images/pagos.png" alt="fotoPagos" style= width:300px height:100px>
                    </div>
                </div>
        
                </div>

                
            </div>

        </div>
    </main>

    <%- include("./partials/footer") %>


