<%- include("./partials/head", {pageTitle: "Detalle Producto", stylesheet: "productDetail.css"}) %>

    <%- include("./partials/header") %>

    <main>

        <div class="contenedor-general">
            <div class="foto-producto">

                <img class="imagen" src="images/camisa.jpg" >

            </div> 

            <div class="contendor-descipccion">

                <h2 class="titulo-producto">Camisa de algodon</h2>
                <p class="precio">$35000</p>
                <p class="talle">XL</p>
                <p class="descripcion">Norem ipsum Norem ipsumNorem ipsumNorem ipsumNorem ipsumNorem ipsumNorem ipsumNorem ipsumNorem ipsum</p>
                

                <div class="caja-boton">
                    <button type="submit">Agregar al carrito</button>
                </div>


                
            </div>

        </div>
    </main>

    <%- include("./partials/footer") %>


