<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title> Detalle Producto </title>
</head>
<body>
    <header>
    <p class="barrasMenu"><i class="fas fa-bars"></i></p>
    <p class="logo" style="color: rgb(255, 255, 255)">Logo</p>
    <p class="carrito"><i class="fas fa-shopping-cart"></i></p>
    </header>

    <div class="banner">
        <img src="/images/carrusel.png" class="banner">
    </div>

    <main>
        <div id="carrusel-contenido">
            <div id="carrusel-caja">
                <div class="carrusel-elemento">
                    <img class="imagenes" src="images/carrusel1.png" >
                </div>
                <div class="carrusel-elemento">   
                    <img class="imagenes" src="images/carrusel2.png">
                </div>
                <div class="carrusel-elemento">   
                    <img class="imagenes" src="images/carrusel3.png">                        
                </div>
            </div>
        </div>
    <div class="contenedorGeneral">
        <div class="contenedorProducto">
            <div class="fotosPequeñas" style >
            <img src="/images/camisa2.png" alt="fotoPrenda1">
            <img src="/images/camisa3.png" alt="fotoPrenda2">
            <img src="/images/camisa4.png" alt="fotoPrenda3">
            </div>
                      
            <div class="fotoProducto">
                <img src="/images/camisa.jpg" alt="fotoPrenda" style="width:300px;
                height:300px">
            </div>

        </div>
        <br>
        <div class="contenedorDescripcion">

            <p class="titulo"><strong>Camisa Wanama Mujer -</strong></p>
            <p class="precio"><strong> $3250</strong></p>
            
            <div class="descripcionProducto">
            <p> 
                Camisa de Algodón - Marca Wanama
                Color Celeste. Talle 44. Super fresca 
                Medidas sisa 86 cm cintura 66cm cadera 94 cm
                ¡Muy poco uso!
            </p>
            </div>

        <div class="contenedorEnviosPagos">
            <div class="envios">
            <p> 
                Envíos a todo el país
            </p>
            <img src="/images/envios.png" alt="fotoEnvios" style= width:300px height:100px>
            </div>
            
            <div class="pagos">  
            <p>
                Formas de Pago
            </p>
            <img src="/images/pagos.png" alt="fotoPagos" style= width:300px height:100px>
            </div>
        </div>

        <br>
            <div>
                <p class="botonAgregarAlCarrito">
                    <button type="submit"><strong>AGREGAR AL CARRITO</strong></button>
                </p>
            </div>
        </div>

        <div class="contenedorOtrasPublicaciones">
            <p><strong>OTRAS PUBLICACIONES DEL VENDEDOR</strong></p>

            <img src="/images/blusa.png" class="fotoOtrasPublicaciones">
            <img src="/images/campera.png" class="fotoOtrasPublicaciones">
            <img src="/images/pulover.png" class="fotoOtrasPublicaciones">
            <img src="/images/jean.png" class="fotoOtrasPublicaciones">

        </div>
        </div>
    </div>
</div>
</main>
<br>
    <footer>
        
    </footer>

</body>
</html>
