<%- include("./partials/head", {pageTitle: "Carrito", stylesheet: "productCart.css"}) %>


    <%- include("./partials/header") %>

    <div class="images-none">
        <img src="/images/prenda1.png" alt="vestido">
        <img src="/images/prenda2.png" alt="">
        <img src="/images/prenda3.png" alt="">
        <img src="/images/prenda4.png" alt="">
    </div>
    <section class="products">
        <article>
            <div class="product1">
                <img src="/images/prenda1.png" alt="">
                <div class="info-podruct">
                    <div class="description">vestido manga corta , con lunares </div>
                    <div class="price">$5000</div>
                    <div class="agregar-quitar">
                        <button id="reset" class="reset"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" id="cantidad" class="cantidad" value="2">
                        <button id="add" class="add"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <div class="delete">
                    <div class="trash">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="product1">
                <img src="/images/prenda2.png" alt="">
                <div class="info-podruct">
                    <div class="description">Remera , manga corta </div>
                    <div class="price">$5000</div>
                    <div class="agregar-quitar">
                        <button id="reset" class="reset"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" id="cantidad" class="cantidad" value="1">
                        <button id="add" class="add"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <div class="delete">
                    <div class="trash">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="product1">
                <img src="/images/prenda3.png" alt="">
                <div class="info-podruct">
                    <div class="description">camison blanco </div>
                    <div class="price">$5000</div>
                    <div class="agregar-quitar">
                        <button id="reset" class="reset"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" id="cantidad" class="cantidad" value="1">
                        <button id="add" class="add"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <div class="delete">
                    <div class="trash">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="product1">
                <img src="/images/prenda4.png" alt="">
                <div class="info-podruct">
                    <div class="description">camisa blanca </div>
                    <div class="price">$5000</div>
                    <div class="agregar-quitar">
                        <button id="reset" class="reset"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" id="cantidad" class="cantidad" value="1">
                        <button id="add" class="add"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <div class="delete">
                    <div class="trash">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="product1">
                <img src="/images/prenda5.png" alt="">
                <div class="info-podruct">
                    <div class="description">musculosa bordo cuello redondo </div>
                    <div class="price">$5000</div>
                    <div class="agregar-quitar">
                        <button id="reset" class="reset"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" id="cantidad" class="cantidad" value="1">
                        <button id="add" class="add"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <div class="delete">
                    <div class="trash">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="product1">
                <img src="/images/prenda6.png" alt="">
                <div class="info-podruct">
                    <div class="description">remera color blanca </div>
                    <div class="price">$5000</div>
                    <div class="agregar-quitar">
                        <button id="reset" class="reset"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" id="cantidad" class="cantidad" value="1">
                        <button id="add" class="add"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
                <div class="delete">
                    <div class="trash">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <div class="card shadow">
        <p>TOTAL</p>
        <p>$15.000</p>
    </div>
    <div class="box-buy">
        <button class=“button-buy” type="submit" value="ENVIAR">COMPRAR</button>
    </div>

    <%- include("./partials/footer") %>

