* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*background-color: #f4eb9e;*/
}

body {
    margin: 0px;
    background-color: #f4eb9e
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    background-color: #4f393c;
    color: white;
}

header p {
    align-self: center;
}

.barrasMenu {
    margin-left: 5px;
    cursor: pointer;
}

.barraDeBusqueda {
    padding-left: 7px;
    padding-right: 7px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.443);
    align-self: center;
    font-size: 12px;
    justify-content: space-between;
    width: 50%;
}

.textoBarra {
    height: 100%;
}

.barraDeBusqueda input {
    border: none;
    width: 100%;
}

.barraDeBusqueda button {
    border: none;
    background-color: white;
    cursor: pointer;
    height: 100%;
    color: #757575;
}

input:focus {
    outline: none
}

.botonIngresar {
    margin-right: 5px;
    cursor: pointer;
}

/*MAIN*/

#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
   /* height: 310px;*/
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    /*height: 310px;*/
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

.tituloSeccion {
    margin: 10px;
}

.promociones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo {
    background-color: white;
    width: 40vw;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.articulo:hover {
    width: 45vw;
    box-shadow: #8f810b;
}

.imagenArticulo {
    width: 100%;
}

.articulo p img {
    width: 100%;
}

.descripcion,
.usuario {
    width: 100%;
    text-align: center;
}

.precio {
    margin-left: 15px;
}

/*FOOTER*/

footer {
    text-align: center;
}

.redesSociales {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

@media(min-width: 450px) {
    .articulo {
        width: 27vw;
        transition: all 0.4s;
    }

    .articulo:hover {
        width: 30vw;
    }
}