*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*background-color: #f4eb9e;*/
}

body{
    margin: 0px;
    background-color: #f4eb9e
}

/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
    background-color: #4f393c;
    color: white;
}

header p{
    align-self: center;
}

.barrasMenu{
    margin-left: 5px;
    cursor: pointer;
}

.barraDeBusqueda {
    padding-left: 7px;
    padding-right: 7px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.443);
    align-self: center;
    font-size: 12px;
    justify-content: space-between;
    width: 50%;
}

.textoBarra{
    height: 100%;
}

.barraDeBusqueda input {
    border: none;
    width: 100%;
}

.barraDeBusqueda button {
    border: none;
    background-color: white;
    cursor: pointer;
    height: 100%;
    color: #757575;
}

input:focus {
    outline: none
}

.botonIngresar{
    margin-right: 5px;
    cursor: pointer;
}

/*MAIN*/
form {
    text-align: center;
}
input {
    writing-mode: horizontal-tb !important;
    font-size: 21px;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border: none;
    border-radius: 7px;
    
    
}

button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #ff0a78;
    background: #ff0a78;
  }
  button:hover {
    background: #fff;
    color: #ff0a78
  }
@media(min-width: 450px){
    

}
