
* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    /*background-color: #f4eb9e;*/
}
.product1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .product1 h2 {
    margin-top: 0;
  }
  
  .product1 img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .info-podruct {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info-podruct .description {
    margin-bottom: 10px;
  }
  
  .price {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
body{
    margin: 0px;
    background-color: #f4eb9e;
    
}
button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #9cd0ac;
    background: #9cd0ac;
  }
  button:hover {
    background:#9cd0ac;
    color: #f4eb9e
  }
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .product1 {
    flex-direction: column;
    text-align: center;
    display: flex; 
    width: 18%;
  }
      