* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    /*background-color: #f4eb9e;*/
}

body {
    margin: 0px;
    background-color: #f4eb9e
}

body form {
    display: flex;
    justify-content: center;
}
body form div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
}

.titleForm{
    margin: 10px;
    font-size: 25px;
}
.nameproduct{
    margin:5%;
    text-align: center;
}
/*imagen del producto*/
.imageinput{
    margin: 5%;
    text-align: center;
}

.iconImageInput input{
    display: none;
}
button.iconImageInput{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 75px;
    background:#9cd0ac;
    border-radius: 45%;
}
.iconImageInput i{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.iconImageInput i:hover{
color: #f4eb9e;
}

/*FIN imagen del producto*/

.priceForm{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    text-align: center;
}
.category{
    text-align: center;
}
.subcategory{
    text-align: center;
}

.condicion{
    display: block;
    margin:5%;
    text-align: center;
    
}
.talle{
    display: block;
    margin:5%;
    text-align: center;
    
}

/*botone de envio*/
.enviar-limpiar{
    margin-top: 20px;
}
.enviar-limpiar button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #9cd0ac;
    background: #9cd0ac;
  }
  .enviar-limpiar button:hover {
    background:#9cd0ac;
    color: #f4eb9e
  }
/*fin botones envio*/
 
  @media (min-width: 450px){
   
  };