* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    /*background-color: #f4eb9e;*/
}

body{
    background-color:#ffffff;
    width: 100%;
    margin: 0px;
    background-color: #f4eb9e

}


.contenedor-general{
    display: flex;
    flex-direction: column;

    
}

.foto-producto img{
   
    display: flex;
   
    width: 123%;
}
.fotosPequeñas{
    
    display: flex;
    flex-direction: column;

 width: 50px;


    
}
.foto-producto{
    display: flex; 
    width: 50%;
    margin-left: 88px;
    margin-top: -173px;
}


.contenedorEnviosPagos{
    font-size: 30px;


    bottom: -2px;

}
.pagos{
    text-align: center;

}
.envios{
    text-align: center;

}

h2, p{
    text-align: center;
}

.caja-boton{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

}

.caja-boton button{
    width: 50vh;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #9cd0ac;
    font-size: 20px;
    transition: all 600ms; 
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.caja-boton button:hover {
    background:#9cd0ac;
    color: #f4eb9e
}


@media(min-width:450px){
    .contenedor-descripcion {
        top: -71px;
        position: relative;
    }
    .foto-producto img {
        display: flex;
        width: 145%;
        position: relative;
        right: -8px;
        top: -112px;
}
.fotosPequeñas {
    display: flex;
    flex-direction: column;
    width: 79px;
}

}
@media(min-width: 768px){
    .contenedorEnviosPagos {
    
        bottom: -68px;
    
        
    }
    .contenedor-descripcion {
        top: -125px;
        position: relative;
    }
    .foto-producto img {
        display: flex;
        width: 145%;
        position: relative;
        right: -84px;
        top: -202px;
    }
    .fotosPequeñas {
        display: flex;
        flex-direction: column;
        width: 104px;
    }
    
}

 


