* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    /*background-color: #f4eb9e;*/
}

body {
    margin: 0px;
    background-color: #f4eb9e
}

body form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titleForm{
    margin: 10px;
    font-size: 25px;
}