* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    /*background-color: #f4eb9e;*/
}

body{
    background-color:#ffffff;
    width: 100%;
    margin: 0px;
    background-color: #f4eb9e



.contenedor-general{
    display: flex;
    flex-direction: column;

    
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --grey50: hsla(0, 0%, 98%, 1); /* Material Pallete 50 */
  --grey900: hsla(0, 0%, 13%, 0.25); /* Material Pallete Grey 900 */
}

body {
  background-color: #f4eb9e;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.thumb {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  margin-top: 0;
}

.thumb > li {
  border: 0.125rem solid var(--grey900);
  list-style-type: none;
  margin-bottom: 0.5rem;
  width: 6.25rem;
}

.thumb > li > a > picture > img {
  vertical-align: bottom;
  width: 100%;
}

.imgBox {
  border: 0.125rem solid var(--grey900);
  width: 31.25rem;
}

.imgBox > picture > img {
  vertical-align: bottom;
  width: 100%;
}

p {
  text-align: center;
}
.foto-producto img{
   
    display: flex;
   
    width: 123%;
}
.fotosPequeñas{
    
    display: flex;
    flex-direction: column;

 width: 50px;


    
}
.foto-producto{
    display: flex; 
    width: 50%;
    margin-left: 88px;
    margin-top: -173px;
}


.contenedorEnviosPagos{
    font-size: 30px;


    bottom: -2px;

}
.pagos{
    text-align: center;

}
.envios{
    text-align: center;

}

h2, p{
    text-align: center;
}

.caja-boton{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

}

.caja-boton button{
    width: 50vh;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #9cd0ac;
    font-size: 20px;
    transition: all 600ms; 
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.caja-boton button:hover {
    background:#9cd0ac;
    color: #f4eb9e
}


@media(min-width:450px){
    .contenedor-descripcion {
        top: -71px;
        position: relative;
    }
    .foto-producto img {
        display: flex;
        width: 145%;
        position: relative;
        right: -8px;
        top: -112px;
}
.fotosPequeñas {
    display: flex;
    flex-direction: column;
    width: 79px;
}

}
@media(min-width: 768px){
    .contenedorEnviosPagos {
    
        bottom: -68px;
    
        
    }
    .contenedor-descripcion {
        top: -125px;
        position: relative;
    }
    .foto-producto img {
        display: flex;
        width: 145%;
        position: relative;
        right: -50px;
        top: -174px;
    }
    .fotosPequeñas {
        display: flex;
        flex-direction: column;
        width: 104px;
    }
    
}
