
* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    /*background-color: #f4eb9e;*/
}

body {
    margin: 0px;
    background-color: #f4eb9e
}

.productCart{
    display: none;
}

.images-none{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    margin-bottom: 46px;
    background: beige;
    width: 100vw;
    

}

article img{
    display: flex;
    height: 100%;
    position: relative;
    
}
.product1{
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin: 10px;
    box-shadow: 0px 10px 10px -6px #8ea88d;
    border: 2px solid #9cd0ac;
    background-color: white;
}
.info-podruct{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  
}
.decription{
    font-size: 16px ;
    height: 18px;
}
.price{
    display: flex;
    
}
.agregar-quitar{
    width: 90px;
    background: white;
    margin: 8px;
    box-shadow: 0px 10px 10px -6px black;
    display: flex;
    justify-content: space-evenly;
    border-radius: 6px;
    border: 2px solid #f4eb9e ;
}
.agregar-quitar:hover{
    border-radius: 50% all;
}
.add{
    border: 0px;
    width: 20px;
    background: white;
    height: 20px;
}
.cantidad{
    width: 20px;
    height: 20px;
    background: white;
    border: 0px;
}
.reset{
    border: 0px;
    width: 20px;
    height: 20px;
    background: white;
}

.delete{
    display: flex;
    align-items: center;
    margin: 10px;
}


.card {
    width: 70%;
    height: 50px;
    background: #4f393c;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-bottom: 15px;
    color: white;
}   

.box-buy{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.box-buy button{
    width: 50vh;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color:#9cd0ac;
    font-size: 20px;
    transition: all 600ms; 
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.box-buy button:hover{
    background:#9cd0ac;
    color: #f4eb9e
}

  @media (min-width:450px){
    .productCart{
        display: flex;
        margin-right: 10px;
    }
    .images-none{
    display: none;
    }
    article{
     display: flex;
     flex-wrap: wrap;
     position: relative;
     justify-content: center;
    }
     .product1{
         width: 40%;
         margin-top: 20px;
         margin-bottom: 20px;
        
     }
     .card{
        display: flex;
        width: 40%;
        margin: auto;
     }
 };

@media(min-width:768px){
    .product1{
        width: 50%;
    }
};


