:root{
--rojo : #fb573b;
--marron : #4f393c ;
--verde-oscuro : #8ea88d ;
--verde-claro : #9cd0ac ;
--amariollo : #f4eb9e ;
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.titulo{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 25px;
    color: var(--marron);
}

body{
    height: 100vh;
    background-color: var(--amariollo)
}

form{
    padding: 20px;    
}

.campo-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: var(--marron);
}

.campo-form input{
    border: none;
    background-color: var(--amariollo);
    border-bottom: solid;
}

.campo-form label{
    margin-bottom: 5px;
    font-size: 20px;
}

input:focus {
    outline: none
}

.caja-boton{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.caja-boton button{
    width: 50vh;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: var(--verde-claro);
    font-size: 20px;
    transition: all 600ms; 
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.caja-boton button:hover{
    background:#9cd0ac;
    color: #f4eb9e
}

.contenedor-logo{
    display: none;
}

.logo{
    display: none;
}




@media(min-width: 426px){
    /*Tablets*/

}

@media(min-width: 769px){
    /*Desktop*/
    body{
        display: flex;
        justify-content: space-between  ;
    }
    .contenedor-logo{
        display: flex;
        width: 50%;
        background-image: url("/images/ropa.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        border: 4px solid var(--marron);
    }
    
    .logo{
        display: flex;
        width: 100%;
        background-color: var(--marron);
        width: 250px;
        height: 250px;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 20px;
    }

    form {
        width: 50%;
    }
    .titulo{
        margin-top: 60px;
    }

    .campo-form {
        margin-bottom: 30px;
    }

    .caja-boton{
        margin-top: 100px;
    }

}