:root{
--rojo : #fb573b;
--marron : #4f393c ;
--verde-oscuro : #8ea88d ;
--verde-claro : #9cd0ac ;
--amariollo : #f4eb9e ;
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.titulo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    font-size: 25px;
    color: var(--marron);
}

body{
    height: 100vh;
    background-color: var(--amariollo)
}

form{
    padding: 20px;    
}

.campo-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: var(--marron);
}

.campo-form input{
    border: none;
    background-color: var(--amariollo);
    border-bottom: solid;
}

.campo-form label{
    margin-bottom: 5px;
    font-size: 20px;
}

.caja-boton{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

    
}

.caja-boton button{
    width: 50vh;
    height: 50px;
    border-radius: 20px;
    border: 0.2px solid black;
    background-color: var(--verde-claro);
    font-size: 20px;
    transition: background-color 600ms; 
}

.caja-boton button:hover{
    background-color: var(--verde-oscuro);
}

.contenedor-imagen{
    display: none;
}

.imagen{
    display: none;
}




@media(min-width: 426px){
    /*Tablets*/

}

@media(min-width: 769px){
    /*Desktop*/
    body{
        display: flex;
        justify-content: space-between  ;
    }
    .contenedor-imagen{
        display: flex;
        width: 50%;
    }
    .imagen{
        display: flex;
        width: 100%;
    }
    form {
        width: 50%;
    }
}