<%- include("../partials/head", {pageTitle: "Ingresar", stylesheet: "login.css"}) %>


    <%- include("../partials/header") %>

    <main>
        <form action="resultado.html" method="POST">
            <p>
                <label></label>
                <input class="inputFormulario" type="text" name="nombre" required placeholder="Nombre de Usuario">
            </p>

            <p>
                <label></label>
                <input class="inputFormulario" type="password" name="contraseña" required placeholder="Contraseña">
            </p>


            <button class=“botonEnviar” type="submit" value="ENVIAR">ENVIAR</button>


        </form>

    </main>
    </header>

    <%- include("../partials/footer") %>

